$white: #fff;
$black: #000;
$box-shadow: rgba(105, 105, 105, 0.22);
$divider-gray: #989ca1;
$background-beige: #f3f4ee;
$green: #1dc191;
$header-bg-bottom: #1dc191;
$customer-box-bg: #d2f3e9;
$button-bg: #604cfd;
$red: #ff5555;
$input-bg-color: #f5f8f9;
$separator-bg: #d2f3e9;
$overlay-bg: rgba(47, 47, 47, 0.75);
$popup-bg: rgba(4, 7, 73, 0.1);
$material-icons: #606263;
$azure: #f1fefb;
$azure-dark: #bee9dc;
$light-grey: #cbcdd0;
$website-blue: #3964e9;
$website-light-blue: #318af4;
$website-aqua: #43b5d5;
$website-light-aqua: #55e0b5;
$published-bg: #69e6b9;
